<div class="container">
    <h1>Admin Panel - All Pasties</h1>

    <!-- Notification Area for Success Messages -->
    {{ if .Message }}
    <div class="alert alert-success" role="alert">
        {{ .Message }}
    </div>
    {{ end }}

    <div class="actions">
        <button id="regenerate-key-btn" class="btn btn-danger">Regenerate AES Key</button>
        <form action="/admin/pasties/delete-all" method="POST" class="d-inline">
            <button id="delete-all-expired-btn" class="btn btn-warning" type="submit">Delete All Expired Pasties</button>
        </form>
        <p id="key-status" class="text-success"></p>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Created At</th>
                <th>Expires At</th>
                <th>View Once</th>
                <th>Viewed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Pasties }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
                <td>
                    {{ if .ExpiresAt.IsZero }}
                        Never
                    {{ else }}
                        {{ .ExpiresAt.Format "2006-01-02 15:04:05" }}
                    {{ end }}
                </td>
                <td>{{ .ViewOnce }}</td>
                <td>{{ .Viewed }}</td>
                <td>
                    <form action="/admin/pasties/delete/{{ .ID }}" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="6" class="text-center">No pasties found</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    document.getElementById("regenerate-key-btn").addEventListener("click", function () {
        if (confirm("Are you sure you want to regenerate the AES key? This action cannot be undone.")) {
            fetch("/admin/regenerate-aes-key", {
                method: "POST",
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Failed to regenerate AES key.");
                }
            })
            .then(message => {
                document.getElementById("key-status").textContent = message;
                document.getElementById("key-status").className = "text-success mt-2";
            })
            .catch(error => {
                document.getElementById("key-status").textContent = error.message;
                document.getElementById("key-status").className = "text-danger mt-2";
            });
        }
    });
</script>
